@use "variables";

header{
  overflow: hidden;
  background-image:url("/images/bg-pattern-intro-desktop.svg"), linear-gradient(to right,variables.$bg-nav, variables.$bg-nav1);
  background-position: right;
  background-repeat: no-repeat;
  border-bottom-left-radius: 80px;

  nav{
    margin: 60px auto;
    width: 850px;
    display: flex;

    .logo{
      margin-right: 30px;
      width: 105px;
    }

    .menu{
      display: flex;
    }

    .hamburger{
      display: none;
    }

    .links{
      display: flex;
      align-items: center;
      position: relative;

      details{
        margin-left: 30px;
        color: white;
        cursor: pointer;

        summary:hover{
          text-decoration: underline white;
        }

        a{
          display: block;
          width: 170px;
          background-color: white;
          padding: 10px 25px;
          position: absolute;

          &:hover{
            font-weight: bold;
          }
        }

        a:nth-child(2){
          top: 50px;
        }

        a:nth-child(3){
          top: 80px;
        }

        a:nth-child(4){
          top: 110px;
        }

        a:nth-child(5){
          top: 140px;
        }

        a:nth-child(6){
          top: 170px;
        }
      }
    }

    .buttons{
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: center;
      gap:26px;
      width: 100%;

      .login{
        color: white;
        font-weight: 600;
      }

      .sign{
        color: variables.$bg-nav1;
        background-color: white;
        padding-inline: 40px;
        padding-top: 16px;
        padding-bottom: 16px;
        border-radius: 80px;
        font-weight: 800;
      }
    }
  }

  .content{
    text-align: center;
    margin-top: 140px;
    margin-bottom: 155px;

    h1{
      margin-bottom: 20px;
    }

    h5{
      color: aliceblue;
      margin-bottom: 50px;
    }

    a{
      padding: 15px 20px;
      border-radius: 50px;
      font-weight: 700;

      &.free{
        background-color: white;
        color: variables.$bg-nav1;
        margin-right: 16px;
      }

      &.more{
        background-color: transparent;
        color: white;
        border: 1px solid white;
      }
    }
  }
}

@media (width<376px) {
  header{
    position: relative;

    nav{
      gap: 140px;

      .logo{
        margin-left: 20px;
      }

      .menu, .buttons{
        display: flex; // display none
        position: absolute;
      }

      .menu{
        flex-direction: column;
        align-items: center;
        gap: 40px;
        top: 50px;
        left: 10px;
        background-color: white;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
        width: 325px;
        height: 550px;

        details{
          color: variables.$very-dark-black-blue;
          margin-left: 0;

          a{
            position: static;
          }

          summary{
            margin-top: 40px;
          }
        }
      }

      hr{
        color: variables.$very-dark-grayish-blue;
        width: 275px;
      }

      .buttons{
        flex-direction: column;
        gap: 10px;
        top: 500px;

        .login{
          color: variables.$very-dark-black-blue;
        }

        .sign{
          color: white;
          background-color: variables.$bg-nav1;
        }
      }

      .hamburger{
        display: block;
        width: 40px;
        cursor: pointer;
      }
    }

    h1{
      font-size: 30px;
    }

    h5{
      font-size: 18px;
    }
  }
}