// Primary
$light-red: hsl(356, 100%, 66%);
$very-light-red: hsl(355, 100%, 74%);
$very-dark-blue: hsl(208, 49%, 24%);
// Neutral
$grayish-blue: hsl(240, 2%, 79%);
$very-dark-grayish-blue: hsl(207, 13%, 34%);
$very-dark-black-blue: hsl(240, 10%, 16%);
//Gradients
$bg-nav: hsl(13, 100%, 72%);
$bg-nav1: hsl(353, 100%, 62%);
$bg-body: hsl(237, 17%, 21%);
$bg-body1: hsl(237, 23%, 32%);
//Fonts
$Overpass: 'Overpass', sans-serif;
$Ubuntu: 'Ubuntu', sans-serif;