@use "variables";
@use "header";
@use "main";
@use "footer";

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@400;500;700&display=swap');

// Base
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  font-family: variables.$Overpass;
}

h1,
h2,
h3,
h4,
h5{
  color: variables.$very-dark-black-blue;
}

h1{
  font-size: 50px;
  font-weight: 600;
  color: white;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 20px;
  font-weight: 700;
}
h4{
  font-size: 23px;
  font-weight: 700;
  color: variables.$very-dark-blue;
}
h5{
  font-size: 16px;
  font-weight: 300;
  color: white;
}
h6{
  font-size: 16px;
  font-weight: 500;
}
p,a{
  color: variables.$very-dark-grayish-blue;
  font-size: 16px;
  text-decoration: none;
}
img{
  width: 100%;
}